
## <summary>policy for dclr</summary>


########################################
## <summary>
##	Transition to dclr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dclr_domtrans',`
	gen_require(`
		type dclr_t, dclr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dclr_exec_t, dclr_t)
')


########################################
## <summary>
##	Execute dclr server in the dclr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dclr_initrc_domtrans',`
	gen_require(`
		type dclr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dclr_initrc_exec_t)
')


########################################
## <summary>
##	Search dclr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dclr_search_lib',`
	gen_require(`
		type dclr_var_lib_t;
	')

	allow $1 dclr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dclr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dclr_read_lib_files',`
	gen_require(`
		type dclr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dclr_var_lib_t, dclr_var_lib_t)
')

########################################
## <summary>
##	Manage dclr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dclr_manage_lib_files',`
	gen_require(`
		type dclr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dclr_var_lib_t, dclr_var_lib_t)
')

########################################
## <summary>
##	Manage dclr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dclr_manage_lib_dirs',`
	gen_require(`
		type dclr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dclr_var_lib_t, dclr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dclr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dclr_admin',`
	gen_require(`
		type dclr_t;
		type dclr_initrc_exec_t;
		type dclr_var_lib_t;
	')

	allow $1 dclr_t:process { ptrace signal_perms };
	ps_process_pattern($1, dclr_t)

	dclr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dclr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dclr_var_lib_t)

')

